#content{
    width: 100%;
    height: auto;
}

#content div{
    height: auto;
    width: auto;
}

.form{
    background-color: white;
    
  font-size: 1.5rem;
    width: 94vw;
    height: 60vh;
    margin: 40px;
    text-align: center;
    align-content: center;
    align-items: center;
    padding-left: 35%;
}

.inpu{
    padding: 10px;
    
}
#inp{
    width: 18rem;
    
}
#subButton{
    align-self: self-end;
}